<div class="container-fluid">

	<div class="row">
		<div class="col-md-10">
			<h3>Data</h3>

			<table class="table-bordered">
				<thead>
					<tr>
						<th *ngFor="#item of data[0]; #j = index">
							x{{j}}
						</th>
						<th >
							y
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#item of data; #i = index">
						<td *ngFor="#item2 of item; #j = index">
							<input type="text" [(ngModel)]="data[i][j]">
						</td>
						<td >
							<input type="text" [(ngModel)]="y[i]">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2">
			<h3>Options</h3>
			<div class="input-group">
				<span class="input-group-addon"><label for="learning-rate">Learning rate</label></span>
				<input id="learning-rate" type="text"  class="form-control" [(ngModel)]="options.alpha">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><label for="stop-condition">Stop condition</label></span>
				<input id="stop-condition" type="text"  class="form-control" [(ngModel)]="options.stop_condition">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><label for="max-iteration">Max iteration</label></span>
				<input id="max-iteration" type="text"  class="form-control" [(ngModel)]="options.max_iter">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><label for="feature-scalling">Feature scalling</label></span>
				<input id="feature-scalling" type="checkbox" class="form-control" [(ngModel)]="options.feature_scalling">
			</div>
		</div>
		
	</div>
	<div class="row">
		<button class="btn btn-default" (click)="addRow($event)">add row</button>
		<button class="btn btn-default" (click)="removeRow($event)">remove row</button>
		<button class="btn btn-default" (click)="addColumn($event)">add column</button>
		<button class="btn btn-default" (click)="removeColumn($event)">remove column</button>
		<br>
		<button class="btn btn-default" (click)="update($event)">update</button>
	</div>
	<div class="row">
		<div class="col-md-3">
			<svg id="polynomial-regression-graph"></svg>
		</div>
		<div class="col-md-3">
			<svg id="cost-graph"></svg>
		</div>
	</div>

</div>