<h2>Links</h2>

<h3>Godot Engine</h3>
<p>
<a href="http://www.godotengine.org/">Godot Engine's official website</a><br>
My favorite Game engine, it's free, it's open source and it's very promising.<br>
<br>
</p>

<h3>Machine Learning Links</h3>
<p>
<a href="https://www.coursera.org/learn/machine-learning">Learn machine learning on Coursera</a><br>
This is a well done and complete online course where I learned about the basics of Machine Learning.<br>
<br>
<a href="https://www.cs.toronto.edu/~vmnih/docs/dqn.pdf">Playing Atari with Deep Reinforcement Learning</a><br>
The infamous work of google that inspired me into working around Reinforcement Learning.<br>
<br>
<a href="https://www.nervanasys.com/demystifying-deep-reinforcement-learning/">Demystifying deep reinforcement learning</a><br>
A web article helpingto understand google's deep reinforcement learning.<br>
<br>
<a href="https://www.cs.swarthmore.edu/~meeden/cs81/s12/papers/MarkStevePaper.pdf">Combining Q-Learning with Artificial Neural Networks in an Adaptive Light Seeking Robot</a><br>
This paper helped me understanding how to do Q-learning with a simple Neural Network.<br>
<br>
</p>

<h3>Phaser</h3>
<p>
<a href="http://phaser.io/">Phaser - Desktop and Mobile HTML5 game framework</a><br>
Desktop and Mobile HTML5 game framework. I used this to render and update my Machine Learning simulations.
<br>
</p>

<h3>D3JS</h3>
<p>
<a href="https://d3js.org/">D3 Data-Driven Documents</a><br>
A JS library for manipulating documents based on data. I used this to render graphes and neural networks.
<br>
</p>